version: '3.9'
services:
  back-end:
    container_name: realworld-backend
    build:
      context: .
    environment:
      DB_HOST: database
      DB_PORT: 5432
      DB_NAME: realworldapp
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      SPRING_PROFILES_ACTIVE: local
    ports:
      - "1748:1748"
    depends_on:
      database:
        condition: service_healthy
    networks:
      - spring-network

  database:
    container_name: realworld-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: realworldapp
    image: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5437:5432"
    networks:
      - spring-network

networks:
  spring-network:
    driver: bridge

volumes:
  postgres_data: