name: deploy
on:
  push:
    branches:
      - master
    paths:
      - /**

jobs:
  build:
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ env.GITHUB_SHA }}

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and Test with Gradle
        run: ./gradlew clean test





